body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

p {
  color: #8F8F8F;
}

.container-fluid {
  padding: 7.5% 15%;
}

/* HEADINGS */
.big-heading {
  font-size: 3.5rem;
  line-height: 1.5;
}
.cta-heading {
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* sections */
.colored-section {
  background-color: #FF4C68;
  color: white;
}

.white-section {
  background-color: #FFF;
}

/* navigation bar */
.navbar {
  padding: 1rem 13rem;
  background-color: #FF4C68;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat'
}

/* download buttons */
#title .download-button {
  margin: 5% 3% 10% 0;
}
.download-button {
  margin: 5% 3% 5% 0;
}

/* title section */
#title .container-fluid {
  padding: 10% 15% 7%;
  text-align: left;
}

/* title image */
.iphone-img {
  transform: rotate(25deg);
  width: 60%;
  position: absolute;
  z-index: 0;
  right: 30%;
}

/* features section */
#features {
  position: relative;
  z-index: 1;
}

.feature-title {
  font-size: 1.2rem;
}

.feature-box {
  padding: 5%;
}

.features-icon {
  color: #EF8172;
  margin-bottom: 1rem;
}

.features-icon:hover {
  color: #FF4C68;
}

/* testimonial section*/
.testimonial-image {
  border-radius: 100%;
  width: 10%;
  margin: 20px;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

/* press section */
#press {
  padding-bottom: 3%;
}

.press-img {
  width: 15%;
  margin: 20px 20px 50px;
}

/* pricing section */
#pricing {
  margin: 7.5% 10%;
}

.priority {
  text-decoration: line-through;
}

.pricing-coloumn {
  padding: 3% 2%;
}

.price-text {
  font-size: 2.5rem;
  line-height: 1.5;
}

/* footer */
.social-icon {
  margin: 20px 10px;
}

@media (max-width:1028px) {
  .iphone-img {
    transform: rotate(0);
    position: static;
    width: 60%;
  }

  #title .container-fluid {
    text-align: center;
    padding: 20% 10% 10%;
  }

  .container-fluid {
    padding: 10% 10%;
  }

  .big-heading {
    font-size: 2.5rem;
  }
  .cta-heading {
    font-size: 2rem;
  }

  .navbar-brand {
    font-size: 2rem;
  }
  .navbar {
    padding: 10px 60px 0;
  }

  .testimonial-text {
    font-size: 1.5rem;

    font-weight: 600;
  }
  .press-img {
    width: 25%;
    margin: 20px 20px;
  }

  #pricing {
    margin: 7.5% 18%;
  }
  .section-heading {
    font-size: 2rem;
  }

}
